.contents{
    display:flex;
    justify-content: space-evenly;
    margin-top:20px;
}
.login{
    display: flex;
    flex-direction: column;
   
}
.registration{
    display: flex;
    flex-direction: column;
    
}
.registration button{
    width:250px;
    padding:10px;
    background-color: black;
    color:white;
    text-transform: uppercase;
    margin-top:20px;
}
.login .pass,.email{
    height:50px;
    border-color: black;
    border-width: 1.5px;
    width:100%;
}
.registration .name{
    height:50px;
    border-color: black;
    border-width: 1.5px;

}
.login a{
    color: black;
   
}
.login button{
    width:250px;
    padding:10px;
    background-color: black;
    color:white;
    text-transform: uppercase;

}
.sub{
    display: flex;
    flex-direction: column;
    gap:30px;
    justify-content: center;
    align-items: center;
}
  .vertical-line {
    position: absolute;
    top: 55%;
    bottom: 0;
    left: 50%; /* Adjust the left position as needed */
    width: 1px; /* Width of the vertical line */
    background-color: black; /* Color of the vertical line */
  }
  
  .button{
    display:flex;
    justify-content: center;
  }
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2){
    .contents{
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: baseline;
    }
    .vertical-line{
        width: 0;
    }
    .registration{
        margin-top:5em;
    }
    .left-footer,.right-footer{
        display: flex;
        flex-direction: column;
    }
  }

  @media (max-width: 767px){
    .logos-set{
        display: none;
    }
    nav.nav2{
        display: none;
    }
    .contents{
        flex-wrap: wrap;
        justify-content: space-between;
        padding-left: 3em;
    }
    .vertical-line{
        width: 0;
    }
    .registration{
        padding-top: 3em;
    }
    form {
        display: flex;
        align-items: center;
        padding:2em;
      }
    
    
      
      input[type="email"] {
        padding: 10px;
        border: 1.5px solid black;
    
        font-size: 16px;
    
      }
    
      
      .stay{
        padding:1em;
      }
      .enter {
        padding: 10px 20px;
        background-color: white;
        color: black;
        border-color: black;
        font-size: 16px;
        cursor: pointer;
        width:100px;
      }
  
     
    .privacy-policy{
     
        padding:1em;
    }
    .footer-logos{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding:30px;
    }

 
    .left-footer,.right-footer{
        display: flex;
        flex-direction: column;
    }
    input.email,input.pass,input.name {
        padding: 10px;
        width: 20em!important;
        border: 1.5px solid black;
        font-size: 16px;
    }
    input#email-input{
        width:15em!important;
      }
      button.enter{
        width:6em;
  

  }
  }
